[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Catriel/client-gateway.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Nest-Microservices-Catriel/orders-ms.git
